{% extends 'layout.html.twig' %}

{% block content %}

	<h2>Contactez-nous !</h2>

	<section class="container align-content-center">

		<h4>Si vous souhaitez inscrire votre groupe sur notre site, merci de nous communiquer :</h4>
		<ul>
			<li>le nom du groupe</li>
			<li>sa localisation</li>
			<li>son style</li>
			<li>ses membres et leur/s instrument/s</li>
			<li>le ou les musiciens que vous recherchez</li>
		</ul>
		<h5>Pour toute autre demande, n'hésitez pas à nous envoyer un message tout de même ! ;)</h5>


		<img src="./assets/images/vu-meter.png" class="d-block mx-auto mb-2" alt="vu-meter">

		<form class="container text-center shadow p-3 mb-5 col-lg-6 bg-body rounded" method="POST">
			<div class="mb-3 col-12 col-xs-12 col-md-12 col-lg-6 offset-lg-3">
				<label for="lastname" class="form-label">Nom</label>
				<input type="text" class="form-control shadow-sm p-3 mb-2 bg-body rounded" id="lastname" name="lastname" placeholder=" Cobain" arial-label=" nom" required>
				{% if errors.lastname %}
					<div class="text-danger small">{{errors.lastname}}</div>
				{% endif %}
			</div>

			<div class="mb-3 col-12 col-xs-12 col-md-12 col-lg-6 offset-lg-3">
				<label for="firstname" class="form-label">Prénom</label>
				<input type="text" class="form-control shadow-sm p-3 mb-2 bg-body rounded" id="firstname" name="firstname" placeholder="Kurt" arial-label="prenom" required>
				{% if errors.firstname %}
					<div class="text-danger small">{{errors.firstname}}</div>
				{% endif %}
			</div>

			<div class="mb-3 col-12 col-xs-12 col-md-12 col-lg-6 offset-lg-3">
				<label for="email" class="form-label">E-mail</label>
				<input type="text" class="form-control shadow-sm p-3 mb-2 bg-body rounded" id="email" name="email" placeholder="nirvana@grunge.com" arial-label="email" required>
				{% if errors.email %}
					<div class="text-danger small">{{errors.email}}</div>
				{% endif %}
			</div>

			<div class="mb-3 col-12 col-xs-12 col-md-12 col-lg-6 offset-lg-3">
				<label for="phone" class="form-label">Téléphone</label>
				<input type="text" class="form-control shadow-sm p-3 mb-2 bg-body rounded" id="phone" name="phone" placeholder="06 66 09 28 10" arial-label="phone" required>
				{% if errors.phone %}
					<div class="text-danger small">{{errors.phone}}</div>
				{% endif %}
			</div>

			<div class="mb-3 col-lg-12">
				<label for="message" class="form-label">Votre message</label>
				<textarea class="form-control shadow-sm p-3 mb-5 bg-body rounded" id="message" rows="3" name="message" placeholder="I'm so happy 'cause today I've found my friends... They're in my head. ♫" arial-label="message" required></textarea>
				{% if errors.message %}
					<div class="text-danger small">{{errors.message}}</div>
				{% endif %}
			</div>

			<div class="col-auto">
				<input type="submit" class="btn btn-danger" id="submit"></input>
		</div>

	</form>
</section>{% endblock %}
