{% extends 'layout.html.twig' %}

{% block content %}

	<div class="pageResults">

		<div class="formAndimage">
            {% include "Include/_filterform.html.twig" %}
			<img class="imgSearch w-75 mt-5" src="/assets/images/micro3d.png" alt="">
		</div>


		<div class="results">
			{% for band in bands %}

				<div class="card h-100" >

					<img src="/uploads/{{band.picture}}" class="card-img-top" alt="...">


					<div class="card-body d-flex flex-column h-100">
						<h5 class="card-title">{{band.name}}</h5>
						<p class="card-text">{{band.description}}</p>
						<p class="card-text">{{band.annonce}}</p>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{band.style}}</li>
							<li class="list-group-item">{{band.region}}</li>
							<li class="list-group-item"><strong>Niveau recherché : </strong>{{band.level}}</li>
						</ul>
						<div class="mt-auto ">
							<a href="#" class="btnCardSearch btn p-2 rounded">Contactez le groupe!</a>
						</div>

					</div>
				</div>
			{% else %}
			No matching results
			{% endfor %}
		</div>
	</div>

</div>{% endblock %}

{% block javascript %}
	<script src="/assets/js/form.js"></script>
{% endblock %}
